.back-img {
  height: 88vh;
  background: url('../../images/man_test.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-text {
  padding: 80px;

  p {
    font-size: 50px;
    color: #fff;
  }

  h1 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    color: #C5AB00;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}


.about-corona {
  opacity: 0.7;
  background: #C4C4C4;
  // padding: 10px;
  z-index: 2;
}

.know-more {
  // background: #0F2027;
  // /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  // /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #192A56;
  padding: 10px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #fff;
    opacity: 0.9;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    padding: 90px;

    h1 {
      font-size: 60px;
    }

    p {
      font-size: 35px;
    }
  }

  .about-corona {
    display: none;
  }
}