/* this file contains all the styles which are common to all pages */

/* Change the scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #192A56;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// body {
//     scroll-behavior: smooth;
// }

#topBtn {
    display: none; /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    // background: #0F2027;
    // /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    // /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #192A56;
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 50px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    text-decoration: none;
}

#topBtn:hover {
    opacity: 0.9;
    /* Add a dark-grey background on hover */
}

/* Loader */
.loader {
    animation:spin 1s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#09f;
    border-top-color:#09f;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;
    z-index:1;
    &:before {
      animation:spin 2s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:#3cf;
      border-top-color:#3cf;
      box-sizing:border-box;
      content:"";
      height:16vmin;
      left:0;
      position:absolute;
      top:0;
      width:16vmin;
    }
    &:after {
      animation:spin 3s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:#6ff;
      border-top-color:#6ff;
      box-sizing:border-box;
      content:"";
      height:12vmin;
      left:2vmin;
      position:absolute;
      top:2vmin;
      width:12vmin;
    }
  }
  
  @keyframes spin {
    100% {
      transform:rotate(360deg);
    }
  }

.hide {
    display: none;
}  