
.graph-body {
    display: flex;
    justify-content: space-evenly
}

.grap-stat-header {
    background: #dfe6e9;
    width: 100%;
    padding: 4px;
    margin: 7px 0;
}

.hide1 {
  visibility: hidden;
  height: 0 !important;
  overflow: hidden;
}

.g2, .g3, .g4, .g5, .g6, .g7 {
    height: 80%;
}


@media screen and (max-width: 768px) {
    .graph-body {
        flex-direction: column;
    }

    .grap-stat-header {
        font-size: 16px;
    }
}